* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

body {
    background: #141414;
    min-height: 100vh;
}

.container {
    width: 1400px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container input{
    height: 35px;
    border-radius: 10px;
    width: 200px;
}
.menu-dx button{
    font-size: 1.1rem;
    color: #f71a0c;
    margin-left: 20px;
    background-color: #0d0d0d;
    border: none;
    font-weight: 600;
    cursor: pointer;
}


header {
    width: 100%;
    height: 70px;
    background: #0d0d0d;
}

header img {
    height: 75px;
}

.film-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 0 100px 0;
}

.card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-basis: 200px;
    padding: 20px;
    margin: 10px 20px;
    height: 450px;
    background: #0d0d0d;
    text-align: center;
}

.card img {
    max-width: 100%;
}

.card h3 {
    margin-top: 20px;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
}

.card h4{
    margin-top: 20px;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
}

.lang, .rate {
    color: white;
    font-size: 12px;
    margin-top: 20px;
}

.select_container{
 display: flex;
 justify-content: center;
 align-items: center;
 height: 150px;
}

select{
    background-color: #1E2D3B;
    color: white;
    width: 100px;
    font-family: 'lato', sans-serif;
    border: 2px solid white;
    border-radius: 5px;
}

